{% extends "base.html" %}

{% block title %}O2SC{% endblock %}

{% block page_content %}

<h3 class="page-header">Ordered to Self Configured DIP Converter - v0.1</h3>
<div class="container">
    <form method="post" enctype=multipart/form-data>
        <div class="form-group col-md-5">
            <label class="control-label" for="file">Ordered DIP File</label><br>
            <input class="form-control" type="file" name="file" /><br>
            <label class="control-label" for="delimiter">Delimiter</label><br>
            Example: In the string "123","456" the comma is the Delimiter
            <input class="form-control" type="text" name="delimiter" /><br>
            <label class="control-label" for="quote-char">Quote Character (optional)</label><br>
            Example: In the string "123","456" the quotation mark is the Quote Character
            <input class="form-control" type="text" name="quote-char" /><br>
            <label class="control-label" for="doc-type">Doc Type</label><br>
            *This will be the doc type for all documents in the file. Leave blank if your DIP file has a doc type and
                map the field below.<br>
            <input class="form-control" type="text" name="doc-type" /><br>
            <label class="control-label" for="file-path-field">Name of header that contains the file path</label><br>
            <input class="form-control" type="text" name="file-path-field" /><br>
            <label class="control-label" for="unique-id">Name of header that contains the unique document identifier</label><br>
            <input class="form-control" type="text" name="unique-id" /><br>
            <label class="control-label" for="omit">Fields to Omit (comma separated)</label><br>
            <textarea class="form-control" type="textarea" rows="4" name="omit"></textarea><br>
            <label class="control-label" for="header-mapping">Header Mapping</label><br>
            Example: 'File Date': '>>DocDate', 'Doc Type': '>>DocType' (don't map the file path header)<br>
            <textarea class="form-control" type="textarea" rows="4" name="header-mapping"></textarea><br>
            <input type="submit" value="Upload">
        </div>
    </form>
</div>
{% endblock %}