{% extends "bootstrap/base.html" %}

{% block title %}John J. Caine{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="static/css/darkly-bootstrap.min.css" />
<link href="/static/css/site.css" rel="stylesheet" />
{% endblock %}

{% block navbar %}
<div id="menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="btn btn-success navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <div id="logo">
                <a href=''><h4>John J. Caine</h4></a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav"><a href="{{ url_for('main.index', _external=True) }}">Home</a></li>
                <li class="nav"><a href="{{ url_for('o2sc.o2sc', _external=True) }}">O2SC</a></li>
                <li class="nav"><a href="#">About</a></li>
                <li class="nav"><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section id="body" class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}




</section>
<footer class="container pull-down">
    <div class="row">
        <p><span class="glyphicon glyphicon-copyright-mark"></span> 2014 -  John J. Caine</p>
    </div>
</footer>
{%  endblock %}

{% block scripts %}
{{ super() }}
    <script src="static/js/site.js"></script>
{% endblock %}
